<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ConsulGeneralDistribuidor"
            android:exported="false"
            android:label="@string/title_activity_consul_general_distribuidor"
            android:theme="@style/Theme.LoginApp.NoActionBar" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Extraviados.ConsultaExtraviadosTipoEnvase"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Extraviados.ConsultasExtraviadosPeriodo"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Extraviados.ConsultaExtraviadosProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.ConsultasExtraviadosProductor"
            android:exported="false" />
        <activity
            android:name=".IndexEntregas"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.indexmovimientoMunicipios"
            android:exported="false" />
        <activity
            android:name=".Indexs.CATALOGOS_ROL.IndexCatalDestinoMunicipal"
            android:exported="false" />
        <activity
            android:name=".Indexs.CATALOGOS_ROL.IndexCatalDestinoGene"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Ordenes.consultaOrdenestipoembaProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Ordenes.ConsultaOrdenesTipoQuimicoProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Ordenes.ConsultaOrdenesPeridoProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.Ordenes.ConsulGeneralDelProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Distribuidor.Ordenes.consultaOrdenEnvaseDistribuidor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Distribuidor.Ordenes.ConsultaOrdenesQuimicoDist"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Distribuidor.Ordenes.consulGeneralDist"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Distribuidor.Ordenes.ConsultaOrdenesPeridoDistribuidor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Distribuidor.ConsultasOrdenesDistri"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Index_movi_distribuidor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Productores.consultas_ordenesProductor"
            android:exported="false" />
        <activity
            android:name=".Indexs.Movimientos.Index_movimi_productor"
            android:exported="false" />
        <activity
            android:name=".Indexs.CATALOGOS_ROL.IndexCataAMOCALImunici"
            android:exported="false" />
        <activity
            android:name=".Indexs.CATALOGOS_ROL.IndexCataAMOCALIgeneral"
            android:exported="false" />
        <activity
            android:name=".Datos_Usuario.Perfil"
            android:exported="false" />
        <activity
            android:name=".Indexs.IndexCatalogos"
            android:exported="false" />
        <activity
            android:name=".Indexs.IndexGenerales"
            android:exported="false" />
        <activity
            android:name=".Indexs.IndexMunicipales"
            android:exported="false" />
        <activity
            android:name=".Base_Menu.DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaFormularioEmpresa"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaEmpresasDestino"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaOrigenContenedores"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaMuniRecolectores"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaMuniDistribuidores"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaRecolectores"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaDistribuidores"
            android:exported="false" />
        <activity
            android:name=".Catalogos_muni.FormularioRecolec"
            android:exported="false" />
        <activity
            android:name=".Catalogos_muni.FormularioDistri"
            android:exported="false" />
        <activity
            android:name=".Catalogos_muni.FormularioConte"
            android:exported="false" />
        <activity
            android:name=".Catalogos_muni.FormularioEmpre"
            android:exported="false" />
        <activity
            android:name=".Catalogos_Generales.ConsulGeneRecolectora"
            android:exported="false" />
        <activity
            android:name=".Catalogos_Generales.ConsulGeneDistr"
            android:exported="false" />
        <activity
            android:name=".Catalogos_Generales.ConsulGeneConte"
            android:exported="false" />
        <activity
            android:name=".Catalogos_Generales.ConsultaGeneral"
            android:exported="false" />
        <activity
            android:name=".Catalogos_Generales.ConsulGeneEmpresas"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaMuniCAT"
            android:exported="false" />
        <activity
            android:name=".Mapas.MapaContenedores"
            android:exported="false" />
        <activity
            android:name=".Catalogos_muni.FormularioMuniCAT"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDK08zMPQwhKuLcm2S833wd67vzQsxcSEA" />

        <activity
            android:name=".Mapas.Mapa"
            android:exported="false" />
        <activity
            android:name=".Indexs.Index"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.tabla.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ruta" />
        </provider>
    </application>

</manifest>