<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".IndexGenerales"
            android:exported="false" />
        <activity
            android:name=".IndexMunicipales"
            android:name=".ForgotPSW"
            android:exported="false" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false" />
        <activity
            android:name=".MapaFormularioEmpresa"
            android:exported="false" />
        <activity
            android:name=".MapaEmpresasDestino"
            android:exported="false" />
        <activity
            android:name=".MapaOrigenContenedores"
            android:exported="false" />
        <activity
            android:name=".MapaMuniRecolectores"
            android:exported="false" />
        <activity
            android:name=".MapaMuniDistribuidores"
            android:exported="false" />
        <activity
            android:name=".MapaRecolectores"
            android:exported="false" />
        <activity
            android:name=".MapaDistribuidores"
            android:exported="false" />
        <activity
            android:name=".FormularioRecolec"
            android:exported="false" />
        <activity
            android:name=".FormularioDistri"
            android:exported="false" />
        <activity
            android:name=".FormularioConte"
            android:exported="false" />
        <activity
            android:name=".FormularioEmpre"
            android:exported="false" />
        <activity
            android:name=".ConsulGeneRecolectora"
            android:exported="false" />
        <activity
            android:name=".ConsulGeneDistr"
            android:exported="false" />
        <activity
            android:name=".ConsulGeneConte"
            android:exported="false" />
        <activity
            android:name=".ConsultaGeneral"
            android:exported="false" />
        <activity
            android:name=".ConsulGeneEmpresas"
            android:exported="false" />
        <activity
            android:name=".MapaMuniCAT"
            android:exported="false" />
        <activity
            android:name=".MapaContenedores"
            android:exported="false" />
        <activity
            android:name=".MapaEstado"
            android:exported="false" />
        <activity
            android:name=".SpinnerEstado"
            android:exported="false" />
        <activity
            android:name=".FormularioMuniCAT"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDK08zMPQwhKuLcm2S833wd67vzQsxcSEA" />

        <activity
            android:name=".Mapa"
            android:exported="false" />
        <activity
            android:name=".Index"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>